#nprogress .bar {
  height: 4px !important;
  background-color: rgba(245, 158, 11, 1) !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px red, 0 0 5px red !important;
}

#nprogress .spinner-icon {
  border-top-color: rgba(245, 158, 11, 1) !important;
  border-left-color: rgba(245, 158, 11, 1) !important
}